<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - ETL

Estimated time needed: **20** minutes

## Objectives

In this final part you will:

- Run the ETL process
- Extract bank and market cap data from the JSON file `bank_market_cap.json`
- Transform the market cap currency using the exchange rate data
- Load the transformed data into a seperate CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [2]:
import glob
import pandas as pd
from datetime import datetime

As the exchange rate fluctuates, we will download the same dataset to make marking simpler. This will be in the same format as the dataset you used in the last section

In [7]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

zsh:1: command not found: wget

zsh:1: command not found: wget
zsh:1: command not found: wget

## Extract

### JSON Extract Function

This function will extract JSON files.

In [14]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

                                       Name  Market Cap (US$ Billion)
0                            JPMorgan Chase                   390.934
1   Industrial and Commercial Bank of China                   345.214
2                           Bank of America                   325.331
3                               Wells Fargo                   308.013
4                   China Construction Bank                   257.399
..                                      ...                       ...
65                             Ping An Bank                    37.993
66                       Standard Chartered                    37.319
67                     United Overseas Bank                    35.128
68                                QNB Group                    33.560
69                              Bank Rakyat                    33.081

[70 rows x 2 columns]

## Extract Function

Define the extract function that finds JSON file `bank_market_cap_1.json` and calls the function created above to extract data from them. Store the data in a `pandas` dataframe. Use the following list for the columns.

In [5]:
columns=['Name','Market Cap (US$ Billion)']

In [53]:
import json

def extract(filename):
    # Write your code here
    with open(filename) as f:
        data = json.load(f)
    return data
   
df = pd.concat([pd.DataFrame(extract("bank_market_cap_1.json")), pd.DataFrame(extract("bank_market_cap_1.json"))])

df.head()

                                      Name Market Cap (US$ Billion)
0                           JPMorgan Chase                  390.934
1  Industrial and Commercial Bank of China                  345.214
2                          Bank of America                  325.331
3                              Wells Fargo                  308.013
4                  China Construction Bank                  257.399

<b>Question 1</b> Load the file <code>exchange_rates.csv</code> as a dataframe and find the exchange rate for British pounds with the symbol <code>GBP</code>, store it in the variable  <code>exchange_rate</code>, you will be asked for the number. Hint: set the parameter  <code>index_col</code> to 0.

In [40]:
# Write your code here
import pandas as pd

exchange_rates = pd.read_csv('exchange_rates.csv')
exchange_rates.columns.values[0] = 'Ccy'

#exchange_rates.head()
#exchange_rate = exchange_rates[[]]

exchange_rate = exchange_rates[exchange_rates['Ccy'] == 'GBP']['Rates'].iloc[0]
exchange_rate

0.7323984208000001

## Transform

Using <code>exchange_rate</code> and the `exchange_rates.csv` file find the exchange rate of USD to GBP. Write a transform function that

1. Changes the `Market Cap (US$ Billion)` column from USD to GBP
2. Rounds the Market Cap (US$ Billion)` column to 3 decimal places
3. Rename `Market Cap (US$ Billion)` to `Market Cap (GBP$ Billion)`

In [57]:
def transform(df, exchange_rate):
    # Write your code here
    # convert the 'Market Cap (US$ Billion)' column to a numeric data type
    df['Market Cap (US$ Billion)'] = pd.to_numeric(df['Market Cap (US$ Billion)'], errors='coerce')

    df['Market Cap (US$ Billion)'] = (df['Market Cap (US$ Billion)'] / exchange_rate).round(3)

    # rename the column to 'Market Cap (GBP$ Billion)'
    df = df.rename(columns={'Market Cap (US$ Billion)': 'Market Cap (GBP$ Billion)'})

    return df

                                      Name  Market Cap (GBP$ Billion)
0                           JPMorgan Chase                    995.087
1  Industrial and Commercial Bank of China                    878.710
2                          Bank of America                    828.100
3                              Wells Fargo                    784.020
4                  China Construction Bank                    655.187

## Load

Create a function that takes a dataframe and load it to a csv named `bank_market_cap_gbp.csv`. Make sure to set `index` to `False`.

In [68]:
import json

def load(df):
    # save the dataframe to a CSV file
    df.to_csv('bank_market_cap_gbp.csv', index=False)

## Logging Function

Write the logging function <code>log</code> to log your data:

In [58]:
import math

def log(df, column):
    # Write your code here
    # extract the specified column from the dataframe
    data = df[column]

    # compute the natural logarithm of the values in the column
    results = data.apply(math.log)

    # create a new dataframe with the results
    new_df = pd.DataFrame({f"ln({column})": results})

    # return the new dataframe
    return new_df

## Running the ETL Process

Log the process accordingly using the following <code>"ETL Job Started"</code> and <code>"Extract phase Started"</code>

In [59]:
# Write your code here

import logging
import pandas as pd

logging.basicConfig(filename='etl.log', level=logging.INFO)

# log the start of the ETL process
logging.info('ETL Job Started')

# extract phase
logging.info('Extract phase Started')

### Extract

<code>Question 2</code> Use the function <code>extract</code>, and print the first 5 rows, take a screen shot:

In [60]:
# Call the function here
df = pd.concat([pd.DataFrame(extract("bank_market_cap_1.json")), pd.DataFrame(extract("bank_market_cap_1.json"))])

# Print the rows here
df.head()

                                      Name Market Cap (US$ Billion)
0                           JPMorgan Chase                  390.934
1  Industrial and Commercial Bank of China                  345.214
2                          Bank of America                  325.331
3                              Wells Fargo                  308.013
4                  China Construction Bank                  257.399

Log the data as <code>"Extract phase Ended"</code>

In [61]:
# Write your code here
logging.info('Extract phase Ended')

### Transform

Log the following  <code>"Transform phase Started"</code>

In [62]:
# Write your code here
logging.info('Transform phase Started')

<code>Question 3</code> Use the function <code>transform</code> and print the first 5 rows of the output, take a screen shot:

In [63]:
# Call the function here
df_transformed = transform(df, exchange_rate)

# Print the first 5 rows here
df_transformed.head()

                                      Name  Market Cap (GBP$ Billion)
0                           JPMorgan Chase                    533.772
1  Industrial and Commercial Bank of China                    471.347
2                          Bank of America                    444.199
3                              Wells Fargo                    420.554
4                  China Construction Bank                    351.447

Log your data <code>"Transform phase Ended"</code>

In [64]:
# Write your code here
logging.info('Transform phase Ended')

### Load

Log the following `"Load phase Started"`.

In [65]:
# Write your code here
logging.info('Load phase Started')

Call the load function

In [69]:
# Write your code here
load(df_transformed)

Log the following `"Load phase Ended"`.

In [70]:
# Write your code here
logging.info('Load phase Ended')

## Authors

Ramesh Sannareddy, Joseph Santrcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).